.footer {
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('../images/footer.PNG');
    height: 250px;

    p {
        padding-top: 50px;
        color: #fff;
        background: none;
    }
}
